<div class="m-3">
    <div class="modal-footer">
        <button class="btn btn-outline-success mb-3" (click)="exportarPlanMejoramiento()"><i class="fas fa-file-excel"></i> Exportar a Excel</button>
        <button class="btn btn-outline-success mb-3" (click)="agregarPlanMejoramiento()"><i class="fas fa-check-circle"></i> Crear oportunidad de mejora</button>
    </div>

    <div class="text-center" style="margin: 40px;" *ngIf="leyendo">
        <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
        <h3>Buscando oportunidades de mejora ...</h3>
    </div>

    <table class="table table-hover" *ngIf="!leyendo">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Descripción de la Oportunidad de Mejora</th>
                <th style="width: 120px;">Ver Más ...</th>
                <th style="width: 120px;">Editar</th>
                <th style="width: 120px;">Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let plan of PlanesMejoramiento">
                <td>{{ plan.orden }}</td>
                <td [innerHTML]="plan.descripcion_mejora"></td>
                <td>
                    <button class="btn btn-outline-success btn-sm" (click)="verPlan(plan)"><i class="fas fa-search"></i> Ver</button>
                </td>
                <td>
                    <button class="btn btn-outline-info btn-sm" (click)="editarPlan(plan)"><i class="fas fa-edit"></i> Editar</button>
                </td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" (click)="eliminarPlan(plan)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>