<div class="form-group">
    <label class="font-weight-bold">Seleccione el semestre</label>
    <select class="custom-select" [(ngModel)]="periodo.idperiodo" name="periodo">
  <option [value]="periodo.idperiodo" *ngFor="let periodo of periodos">{{ periodo.periodo }}</option>
</select>
</div>

<div *ngFor="let secretaria of secretarias">
    <h1 class="text-dark">{{ secretaria.Secretaria }}</h1>
    <hr>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Institución</th>
                <th>Rector</th>
                <th>Grado</th>
                <th>Horario</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let estudiante of secretaria.Estudiantes; let id = index" style="border-style: solid; border-width: 1px;">
                <td style="border-style: solid; border-width: 1px;">{{ id + 1 }}</td>
                <td style="border-style: solid; border-width: 1px;">{{ estudiante.Documento }}</td>
                <td style="border-style: solid; border-width: 1px;">{{ estudiante.Nombre }}</td>
                <td style="border-style: solid; border-width: 1px;">{{ estudiante.Institucion }}</td>
                <td style="border-style: solid; border-width: 1px;">{{ estudiante.Rector }}</td>
                <td style="border-style: solid; border-width: 1px;">{{ estudiante.Grado }}</td>
                <td style="border-style: solid; border-width: 1px;">{{ estudiante.Horario }}</td>
            </tr>
        </tbody>
    </table>
</div>