<div class="m-3 row">
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-header bg-dark">
                <h3 class="card-title text-white text-center">
                    Coordinación de la práctica docente
                </h3>
            </div>

            <div class="card-body">

                <div class="list-group list-group-flush">

                    <!-- Lista de estudiantes -->
                    <button class="list-group-item-action list-group-item" (click)="verEstudiantesPractica()">
                    <div class="media">
                      <img class="mr-3" src="assets/Iconos/Usuarios.png" style="width: 32px;">
                      <div class="media-body">
                        Lista de Estudiantes
                      </div>
                    </div>
                  </button>

                    <!-- Obtener lista de correos -->
                    <button class="list-group-item-action list-group-item" (click)="verCorreosEstudiantes()">
                      <div class="media">
                        <img class="mr-3" src="assets/Iconos/Gmail.png" style="width: 32px;">
                        <div class="media-body">
                          Obtener lista de correos
                        </div>
                      </div>
                    </button>

                    <!-- Estadísticas de Práctica Docente -->
                    <button class="list-group-item-action list-group-item" (click)="verEstadisticasPractica()">
                      <div class="media">
                        <img class="mr-3" src="assets/Iconos/estadisticas.png" style="width: 32px;">
                        <div class="media-body">
                          Ver Estadísticas de Práctica Docente
                        </div>
                      </div>
                    </button>

                    <!-- Cartas de Permisos -->
                    <button class="list-group-item-action list-group-item" (click)="verCartasPermisos()">
                      <div class="media">
                        <img class="mr-3" src="assets/Iconos/ProyectosDobleTitulacion.png" style="width: 32px;">
                        <div class="media-body">
                          Generar Cartas Permisos
                        </div>
                      </div>
                    </button>

                    <!-- Reporte de estudiantes por tipo de secretaria -->
                    <button class="list-group-item-action list-group-item" (click)="verReporteBySecretarias()">
                      <div class="media">
                        <img class="mr-3" src="assets/Iconos/secretarias.png" style="width: 32px;">
                        <div class="media-body">
                          Reporte de Estudiantes por Tipo de Secretaria
                        </div>
                      </div>
                    </button>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card shadow">
            <div class="card-body">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>