<div class="m-3">
    <div class="row">

        <!-- %%%%%%% Lista de Programas %%%%%%% -->
        <div class="col-md-3">
            <div class="card card-shadow">
                <div class="card-title bg-success">
                    <h3 class="text-white text-center">Programas</h3>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Periodo</label>
                        <select class="custom-select" [(ngModel)]="periodo" name="periodo">
                      <option [value]="periodo.periodo" *ngFor="let periodo of Periodos" >{{ periodo.periodo }}</option>
                    </select>
                    </div>

                    <div class="input-group">
                        <input class="form-control input-group-prepend" (keyup)="buscarProgramas()" [(ngModel)]="filtroProgrma" name="filtroPrograma" placeholder="Buscar Programa">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" (click)="borrarBusqueda()"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>

                    <div class="list-group list-group-flush">
                        <a *ngFor="let programa of bProgramas" (click)="seleccionarPrograma(programa)" class="puntero-manito list-group-item list-group-item-action">{{ programa.programa | capitalizado }}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- %%%%%%% Reporte del Programa %%%%%%% -->
        <div class="col-md-9">

            <div class="row">
                <button class="btn btn-outline-success mb-2 btn-block m-3" style="width: 250px;" (click)="vista = [false, true]"><i class="fas fa-chart-bar"></i> Ver Gráfica</button>
                <button class="btn btn-outline-success mb-2 btn-block m-3" style="width: 250px;" (click)="vista = [true, false]"><i class="fas fa-table"></i> Ver Tabla</button>

                <button *ngIf="vista[0]" [value]="nombreExcel" class="btn btn-outline-success m-3" style="width: 250px;" onclick="crearExcel('reporte-servicios-programas', value)"><i class="fas fa-file-excel"></i> Exportar como Excel</button>
                <button *ngIf="vista[0]" [value]="nombreDoc" class="btn btn-outline-info m-3" style="width: 250px;" onclick="crearWord('reporte-word', value)"><i class="fas fa-file-word"></i> Exportar como Word</button>

                <button *ngIf="vista[1]" [value]="'Estadisticas-Servicios-Por-Programa.xls'" class="btn btn-outline-success m-3" style="width: 250px;" onclick="crearExcel('reporte-estadistica-programas', value)"><i class="fas fa-file-excel"></i> Exportar como Excel</button>
                <button *ngIf="vista[1]" [value]="'Estadisticas-Servicios-Por-Programa.doc'" class="btn btn-outline-info m-3" style="width: 250px;" onclick="crearWord('reporte-estadistica-programas', value)"><i class="fas fa-file-word"></i> Exportar como Word</button>
            </div>


            <div *ngIf="vista[0]">

                <div id="reporte-word">
                    <table class="table" style="border-width: 0.1px; border-style: solid;" id="reporte-servicios-programas">
                        <thead style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" style="background-color: $999999;">
                            <tr style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">
                                <th style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">No</th>
                                <th style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">Asignatura</th>
                                <th style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">I/H</th>
                                <th style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">I/S</th>
                                <th style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">Grupo</th>
                                <th style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">Profesor</th>
                            </tr>
                        </thead>

                        <tbody style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" *ngFor="let servicio of ReportesServicios; let id = index">
                            <tr style="border-width: 0.1px; border-style: solid; border-collapse: collapse;">
                                <td style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" rowspan="6">{{ id + 1 }}</td>
                                <td style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" class="font-weight-bold">{{ servicio.asignatura | capitalizado }}</td>
                                <td style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" rowspan="6">{{ servicio.horas }}</td>
                                <td style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" rowspan="6">{{ servicio.horsem }}</td>
                                <td style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" rowspan="6">{{ servicio.grupo }}</td>
                                <td style="border-width: 0.1px; border-style: solid; border-collapse: collapse;" >{{ servicio.nombre | capitalizado }}</td>
                            </tr>

                            <tr>
                                <td rowspan="5">({{ servicio.tipo | capitalizado }})</td>
                                <td>{{ servicio.contrato }} ({{ servicio.categoria }})</td>
                            </tr>

                            <tr>
                                <td>CC {{ servicio.iddocente }}</td>
                            </tr>

                            <tr>
                                <td class="font-weight-bold">Número de contrato {{ servicio.numerocontrato }}</td>
                            </tr>

                            <tr>
                                <td>{{ servicio.correo }}</td>
                            </tr>

                            <tr>
                                <td>Tel. {{ servicio.telefono }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="vista[1]">
                <app-visor-grafica [Datos]="datosGeneral" [Etiquetas]="lbDatosGeneral"></app-visor-grafica>
                <div style="display: block;">
                    <canvas baseChart [datasets]="datosGeneral" [colors]="generalChartColors" [labels]="lbDatosGeneral" [options]="generalChartOptions" [legend]="generalChartLegend" [chartType]="generalChartType">
                </canvas>
                </div>

                <table class="table table-hover" id="reporte-estadistica-programas">
                    <thead class="table-dark">
                        <tr>
                            <th>No</th>
                            <th>Programa</th>
                            <th>Cantidad de Servicios</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let estd of EstadisticasPrograma; let id = index">
                            <td>{{ id + 1 }}</td>
                            <td>{{ estd.Programa | capitalizado }}</td>
                            <td>{{ estd.Cantidad}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
