<app-titulo-dialogo [Titulo]="'Seleccione un área de profundización ...'"></app-titulo-dialogo>

<div class="form-group">
    <label class="font-weight-bold">Áreas de Profundización</label>
    <select class="custom-select" [(ngModel)]="areaDocente.idareaprofundizacion" name="idareaprofundizacion">
    <option [value]="area.idareaprofundizacion" *ngFor="let area of areasProfundizacion">{{ area.nombre | capitalizado}}</option>
  </select>
</div>

<div class="modal-footer">
    <button class="btn btn-outline-success" (click)="guardar()"><i class="fas fa-save"></i> Guardar</button>
</div>