<div class="modal-footer">
    <button class="btn btn-outline-success" (click)="agregarEvento()"><i class="fas fa-plus-circle"></i> Agregar evento</button>
</div>

<div class="card shadow mb-3" *ngFor="let seminario of eventosSeminario">
    <div class="card-body">
        <h3 class="text-info">{{ seminario.titulo | capitalizado }} ({{ seminario.fecha }})</h3>
        <hr>

        <div class="media">
            <img class="mr-3" style="width: 32px;" src="assets/Iconos/presentacion.png">
            <div class="media-body">
                <h6>Conferencista</h6>
                <h4>{{ seminario.conferencista }}</h4>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-sm btn-outline-success" (click)="verEvento(seminario)"><i class="fas fa-search"></i> Ver</button>
            <button class="btn btn-sm btn-outline-info" (click)="editarEvento(seminario)"><i class="fas fa-edit"></i> Editar</button>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarEvento(seminario)"><i class="fas fa-trash-alt"></i> Eliminar</button>
        </div>
    </div>
</div>