<p [innerHTML]="Evento.Titulo"></p>
<hr>

<div class="row">

    <div class="col-md-8">


        <h1>Información del Evento</h1>

        <p [innerHTML]="Evento.Descripcion"></p>
    </div>

    <div class="col-md-4">
        <div align="center">
            <img class="img-fluid mb-5" [src]="'assets/Imagenes/Publicidad-' + Evento.IdEvento + '.jpeg'">
        </div>
    </div>
</div>

<div align="center">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Uniquindio.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Facultad_Educacion.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Licenciatura.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Estadistica.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Gedes.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Gemauq.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Gemme.jpg">
    <img style="height: 96px; margin: 5px;" src="assets/Imagenes/Logo_Sigma.jpg">
</div>

<div style="height: 100px;"></div>
