<h1 class="text-info display-4">Conferencias</h1>
<hr>

<mat-accordion>

    <mat-expansion-panel [expanded]="id === 0" *ngFor="let modalidad of Conferencias; let id = index">
        <mat-expansion-panel-header>
            <h5 class="font-weight-bold">{{ modalidad.Modalidad }}</h5>
        </mat-expansion-panel-header>

        <div class="card shadow m-3" *ngFor="let conferencia of modalidad.Conferencias">
            <div class="card-body">
                <h5 class="text-info text-center">{{ conferencia.Titulo }}</h5>
                <hr>

                <h4 class="text-center">{{ conferencia.Conferencista.Nombre }} ({{ conferencia.Conferencista.Institucion }})</h4>
                <h6 class="text-center text-info">{{ conferencia.Conferencista.Correo }}</h6>

                <ul>
                    <li *ngFor="let biografia of conferencia.Conferencista.Biografia">{{ biografia.Biografia }}}</li>
                </ul>

                <h6 class="text-info font-weight-bold">Resumen</h6>
                <p class="text-justify" [innerHTML]="conferencia.Resumen"></p>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>

<h1 class="text-info display-4 mt-5">Ponencias</h1>
<hr>

<mat-accordion>

    <mat-expansion-panel *ngFor="let modalidad of Ponencias; let id = index">
        <mat-expansion-panel-header>
            <h5 class="font-weight-bold">{{ modalidad.Modalidad }}</h5>
        </mat-expansion-panel-header>

        <div class="card shadow m-3" *ngFor="let conferencia of modalidad.Conferencias">
            <div class="card-body">
                <h5 class="text-info text-center">{{ conferencia.Titulo }}</h5>
                <hr>

                <h4 class="text-center">{{ conferencia.Conferencista.Nombre }} ({{ conferencia.Conferencista.Institucion }})</h4>
                <h6 class="text-center text-info">{{ conferencia.Conferencista.Correo }}</h6>

                <ul>
                    <li *ngFor="let biografia of conferencia.Conferencista.Biografia">{{ biografia.Biografia }}</li>
                </ul>

                <h6 class="text-info font-weight-bold">Resumen</h6>
                <p class="text-justify" [innerHTML]="conferencia.Resumen"></p>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>