<div class="m-4">

    <div class="row">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header bg-dark">
                    <h3 class="text-white text-center card-title">Opciones</h3>
                </div>

                <div class="card-body">
                    <ul class="list-group-flush list-group">
                        <li class="list-group-item-action list-group-item puntero-manito" (click)="verMenu(menu)" *ngFor="let menu of Menus">
                            <div class="media">
                                <img src="assets/Iconos/pendiente.png" class="mr-3" style="width: 32px;">
                                <div class="media-body">
                                    <h6>{{ menu.nombre | capitalizado }}</h6>
                                    <p class="text-justify">{{ menu.descripcion }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div *ngIf="Vistas[0]">
                <div class="card shadow mb-4" *ngFor="let contrato of ReportesTrabajosGrado; let id = index">
                    <div class="card-body">
                        <h1 class="text-info">{{ contrato.contrato | capitalizado }}</h1>

                        <div class="modal-footer">
                            <button onclick="crearExcel(value, value)" [value]="'Reporte_Trabajos_de_Grado_' + contrato.contrato + '.xls'" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Exportar a Excel</button>
                        </div>

                        <table class="table table-hover puntero-manito" [attr.id]="'Reporte_Trabajos_de_Grado_' + contrato.contrato + '.xls'">
                            <thead class="table-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Documento</th>
                                    <th>Nombre del Docente</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Trabajos</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let docente of contrato.Docentes; let id = index">
                                    <td>{{ id + 1 }}</td>
                                    <td>{{ docente.documento }}</td>
                                    <td>{{ docente.nombre | capitalizado }}</td>
                                    <td>{{ docente.telefono }}</td>
                                    <td>{{ docente.correo }}</td>
                                    <td *ngIf="(docente.Terminados.length > 0) || (docente.noTerminados.length > 0)">
                                        <table class="table table-hover">
                                            <tbody *ngIf="docente.Terminados.length > 0">
                                                <tr>
                                                    <th>Trabajos de Grado Terminados</th>
                                                </tr>
                                            </tbody>
                                            <thead class="table-dark" *ngIf="docente.Terminados.length > 0">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Título</th>
                                                    <th>Acta de la Propuesta</th>
                                                    <th>Estudiantes</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="docente.Terminados.length > 0">
                                                <tr *ngFor="let terminado of docente.Terminados; let id = index">
                                                    <td>{{ id + 1}}</td>
                                                    <td>{{ terminado.titulo | capitalizado}}</td>
                                                    <td>{{ terminado.actapropuesta | capitalizado}}</td>
                                                    <td>
                                                        <ul>
                                                            <li *ngIf="terminado.estudiante1">{{ terminado.estudiante1 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante2">{{ terminado.estudiante2 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante3">{{ terminado.estudiante3 | capitalizado }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="docente.noTerminados.length > 0">
                                                <tr>
                                                    <th>Trabajos de Grado No Terminados</th>
                                                </tr>
                                            </tbody>
                                            <thead class="table-dark" *ngIf="docente.noTerminados.length > 0">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Título</th>
                                                    <th>Acta de la Propuesta</th>
                                                    <th>Estudiantes</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="docente.noTerminados.length > 0">
                                                <tr *ngFor="let terminado of docente.noTerminados; let id = index">
                                                    <td>{{ id + 1}}</td>
                                                    <td>{{ terminado.titulo | capitalizado}}</td>
                                                    <td>{{ terminado.actapropuesta | capitalizado}}</td>
                                                    <td>
                                                        <ul>
                                                            <li *ngIf="terminado.estudiante1">{{ terminado.estudiante1 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante2">{{ terminado.estudiante2 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante3">{{ terminado.estudiante3 | capitalizado }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td *ngIf="(docente.Terminados.length === 0) && (docente.noTerminados.length === 0)">
                                        Sin dirección de trabajos de grado.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                 VISTA
                 Docentes dirigiendo y no trabajos de grado
                 ================================================================================================================================================================= -->
            <div *ngIf="Vistas[1]">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-info">Docentes dirigiendo trabajos de grado</h2>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" onclick="crearExcel('directores', value)" [value]="'docentes-con-direccion-trabajos-de-grado.xls'" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Descargar</button>
                        </div>

                        <table class="table table-hover" id="directores">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Docente</th>
                                    <th>Cantidad Trabajos</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let director of Directores">
                                    <td>{{ director.nombre | capitalizado }}</td>
                                    <td>{{ director.noTerminados.length }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <h2 class="text-info">Docentes que no estan dirigiendo trabajos de grado</h2>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" onclick="crearExcel('no-directores', value)" [value]="'docentes-sin-direccion-trabajos-de-grado.xls'" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Descargar</button>
                        </div>

                        <table class="table table-hover" id="no-directores">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Docente</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let noDirector of noDirectores">
                                    <td>{{ noDirector.nombre | capitalizado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                 VISTA
                 Trabajos de grado evaluados
                 ================================================================================================================================================================= -->
            <div *ngIf="Vistas[2]">
                <div class="card shadow mb-4" *ngFor="let contrato of TrabajosEvaluados; let id = index">
                    <div class="card-body">
                        <h1 class="text-info">{{ contrato.contrato | capitalizado }}</h1>

                        <div class="modal-footer">
                            <button onclick="crearExcel(value, value)" [value]="'Reporte_Trabajos_de_Grado_' + contrato.contrato + '.xls'" class="btn btn-outline-success"><img src="assets/Iconos/Excel.png" style="width: 32px;"> Exportar a Excel</button>
                        </div>

                        <table class="table table-hover puntero-manito" [attr.id]="'Reporte_Trabajos_de_Grado_' + contrato.contrato + '.xls'">
                            <thead class="table-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Documento</th>
                                    <th>Nombre del Docente</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Trabajos</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let docente of contrato.Docentes; let id = index">
                                    <td>{{ id + 1 }}</td>
                                    <td>{{ docente.documento }}</td>
                                    <td>{{ docente.nombre | capitalizado }}</td>
                                    <td>{{ docente.telefono }}</td>
                                    <td>{{ docente.correo }}</td>
                                    <td *ngIf="(docente.Terminados.length > 0) || (docente.noTerminados.length > 0)">
                                        <table class="table table-hover">
                                            <tbody *ngIf="docente.Terminados.length > 0">
                                                <tr>
                                                    <th>Trabajos de Grado Terminados</th>
                                                </tr>
                                            </tbody>
                                            <thead class="table-dark" *ngIf="docente.Terminados.length > 0">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Título</th>
                                                    <th>Acta de la Propuesta</th>
                                                    <th>Estudiantes</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="docente.Terminados.length > 0">
                                                <tr *ngFor="let terminado of docente.Terminados; let id = index">
                                                    <td>{{ id + 1}}</td>
                                                    <td>{{ terminado.titulo | capitalizado}}</td>
                                                    <td>{{ terminado.actapropuesta | capitalizado}}</td>
                                                    <td>
                                                        <ul>
                                                            <li *ngIf="terminado.estudiante1">{{ terminado.estudiante1 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante2">{{ terminado.estudiante2 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante3">{{ terminado.estudiante3 | capitalizado }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="docente.noTerminados.length > 0">
                                                <tr>
                                                    <th>Trabajos de Grado No Terminados</th>
                                                </tr>
                                            </tbody>
                                            <thead class="table-dark" *ngIf="docente.noTerminados.length > 0">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Título</th>
                                                    <th>Acta de la Propuesta</th>
                                                    <th>Estudiantes</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="docente.noTerminados.length > 0">
                                                <tr *ngFor="let terminado of docente.noTerminados; let id = index">
                                                    <td>{{ id + 1}}</td>
                                                    <td>{{ terminado.titulo | capitalizado}}</td>
                                                    <td>{{ terminado.actapropuesta | capitalizado}}</td>
                                                    <td>
                                                        <ul>
                                                            <li *ngIf="terminado.estudiante1">{{ terminado.estudiante1 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante2">{{ terminado.estudiante2 | capitalizado }}</li>
                                                            <li *ngIf="terminado.estudiante3">{{ terminado.estudiante3 | capitalizado }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td *ngIf="(docente.Terminados.length === 0) && (docente.noTerminados.length === 0)">
                                        Sin evaluación de trabajos de grado
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                 VISTA
                 Docentes que estan y no evaluando trabajos de grado
                 ================================================================================================================================================================= -->
            <div *ngIf="Vistas[3]">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-info">Docentes evaluando trabajos de grado</h2>
                        <hr>

                        <div class="modal-footer">
                            <button class="btn btn-outline-success" onclick="crearExcel('evaluadores', value)" [value]="'docentes-evaluando-trabajos-de-grado.xls'" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Descargar</button>
                        </div>

                        <table class="table table-hover" id="evaluadores">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Docente</th>
                                    <th>Cantidad Trabajos</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let evaluador of Evaluadores">
                                    <td>{{ evaluador.nombre | capitalizado }}</td>
                                    <td>{{ evaluador.noTerminados.length }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <h2 class="text-info">Docentes que no estan evaluando trabajos de grado</h2>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" onclick="crearExcel('no-evaluadores', value)" [value]="'docentes-que-no-estan-evaluando-trabajos-de-grado.xls'" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Descargar</button>
                        </div>

                        <table class="table table-hover" id="no-evaluadores">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Docente</th>
                                    <th>Cantidad Trabajos</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let noEvaluador of noEvaluadores">
                                    <td>{{ noEvaluador.nombre | capitalizado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                 VISTA
                 Cantidad de trabajos de grado por docente
                 ================================================================================================================================================================= -->
            <div *ngIf="Vistas[4]">
                <app-visor-grafica [IdGrafica]="'cantidad-trabajos'" [Datos]="Datos" [Etiquetas]="Etiquetas" [Titulo]="'Cantidad de Trabajos de Grado Dirigidos por Docente'"></app-visor-grafica>

                <div class="modal-footer">
                    <button class="btn btn-outline-success" [value]="'Cantidad_de_trabajos_de_grado_dirigidos_por_docente.xls'" onclick="crearExcel('reporte-trabajos-grado', value)"><i class="fas fa-file-excel"></i> Descargar en Excel</button>
                </div>

                <div id="reporte-trabajos-grado">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>No</th>
                                <th>Docente</th>
                                <th>Cantidad de Trabajos Dirigidos</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let registro of tablaReporte; let id = index">
                                <td>{{ id + 1 }}</td>
                                <td>{{ registro.docente | capitalizado }}</td>
                                <td>{{ registro.cantidad }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
