<div class="modal-footer">
    <button [value]="Titulo" class="btn btn-outline-info m-3" id="botonesDescargar" style="width: 250px;" onclick="crearWord(value, value + '.doc')"><i class="fas fa-file-word"></i> Exportar como Word</button>
</div>

{{ Titulo }}

<div class="m-5" [attr.id]="Titulo">
    <!-- <div class="text-center">
        <img src="assets/Iconos/logo-uq-2.png" style="width: 128px">
    </div> -->

    <p class="text-justify">
        Armenia, {{ carta.Fecha }}
    </p>

    <p class="text-justify" style="margin-top: 50px">
        Señor(a) <br>
        <span class="font-weight-bold">{{ carta.Rector | uppercase }}</span> <br> Rector(a) <br> Institución Educativa: {{ carta.Institucion }} <br> {{ carta.Ciudad }}
    </p>

    <p class="text-justify" style="margin-top: 50px">
        Cordial Saludo,
    </p>

    <p class="text-justify" style="margin-top: 50px">
        Muy amablemente me permito solicitar su colaboración para que los estudiantes de la Licenciatura en Matemáticas de la Universidad del Quindío
        <span *ngFor="let estudiante of carta.Estudiantes">
        <span class="font-weight-bold">{{ estudiante.Nombre | uppercase }}</span>,
        <span *ngIf="estudiante.Genero === 'Masculino'">identificado </span>
        <span *ngIf="estudiante.Genero === 'Femenino'">identificada </span> con documento de identidad {{ estudiante.Documento }};
        </span>
        puedan realizar la práctica docente en su institución.
    </p>

    <p class="text-justify" style="margin-top: 50px">
        Los estudiantes deberán cumplir a cabalidad con los procesos pactados con el Docente de la Práctica y a su vez cumplir como mínimo cuatro (4) horas semanales de asistencia a la práctica.
    </p>

    <p class="text-justify" style="margin-top: 50px">
        Agradezco su valiosa colaboración,
    </p>

    <p class="text-justify" style="margin-top: 150px">
        Hernán Darío Toro Zapata <br> Director Programa Licenciatura en Matemáticas
    </p>
</div>