<h1 class="text-info">Registrarme en el Workshop EMEM</h1>
<hr>

<div class="text-center" style="margin: 20px;" *ngIf="guardando">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Guardando Participante ...</h3>
</div>

<form *ngIf="!guardando" ngNativeValidate (ngSubmit)="guardarParticipanteEmem()">
    <div class="form-group">
        <label style="font-weight: bold;">Documento</label>
        <input type="text" required class="form-control" [(ngModel)]="participanteEMEM.Documento" name="Documento">
    </div>

    <div class="form-group">
        <label style="font-weight: bold;">Nombre</label>
        <input type="text" required class="form-control" [(ngModel)]="participanteEMEM.Nombre" name="Nombre">
    </div>

    <div class="form-group">
        <label style="font-weight: bold;">Correo</label>
        <input type="email" required class="form-control" [(ngModel)]="participanteEMEM.Correo" name="Correo">
    </div>

    <div class="form-group">
        <label style="font-weight: bold;">Institución (Institución Educativa o Universidad)</label>
        <input type="text" required class="form-control" [(ngModel)]="participanteEMEM.Institucion" name="Institucion">
    </div>

    <div class="form-group">
        <label style="font-weight: bold;">Título (Formación)</label>
        <input type="text" required class="form-control" [(ngModel)]="participanteEMEM.Titulo" name="Titulo">
    </div>

    <div class="form-group">
        <label style="font-weight: bold;">Tipo de Participación</label>
        <select [(ngModel)]="participanteEMEM.IdTipoParticipante" required name="IdTipoParticipante" class="custom-select" (change)="cambioTipo(participanteEMEM.IdTipoParticipante)">
          <option *ngFor="let tipoParticipante of TiposParticipantes" [value]="tipoParticipante.IdTipoParticipante">{{ tipoParticipante.Nombre }}</option>
        </select>
    </div>

    <button class="btn btn-outline-success float-right" type="submit"><i class="fas fa-save"></i> Guardar</button>
</form>