<h1 class="text-center text-info display-1">Bienvenido</h1>
<h1 class="text-center text-info">Workshop EMEM - Eventos</h1>
<hr>

<div class="row">
    <div class="card shadow puntero-manito m-3" style="width: 250px;" *ngFor="let evento of Eventos" (click)="verEvento(evento)">
        <div class="card-header bg-dark text-white text-center">
            <h3 class="card-title">EMEM {{ evento.Fecha }}</h3>
        </div>

        <div class="card-body">
            <img class="card-img-top" src="assets/Imagenes/Logo_EMEM_General.png">
        </div>
    </div>
</div>
