<div class="m-3">
    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top" [src]="grupo.logo | noImagen">
                </div>

                <div class="col-md-9">
                    <h1 class="text-info">{{ grupo.nombre | capitalizado }}</h1>
                    <h3 class="text-info">{{ grupo.sigla | uppercase }}</h3>
                    <hr>

                    <div class="media mt-4">
                        <img class="mr-3" src="assets/Iconos/director.png" style="width: 64px;">
                        <div class="media-body">
                            <h4 class="text-danger">Director</h4>
                            <h5>{{ grupo.director.nombre | capitalizado }}</h5>
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="mr-3" src="assets/Iconos/mision.png" style="width: 64px;">
                        <div class="media-body">
                            <h4 class="text-danger">Misión</h4>
                            <p class="text-justify" [innerHTML]="grupo.mision"></p>
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="mr-3" src="assets/Iconos/vision.png" style="width: 64px;">
                        <div class="media-body">
                            <h4 class="text-danger">Visión</h4>
                            <p class="text-justify" [innerHTML]="grupo.vision"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <h5>Integrantes del Grupo</h5>
            </mat-expansion-panel-header>

            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let docente of integrantes">
                    <div class="media">
                        <img class="mr-3" style="border-radius: 100%; width: 96px;" [src]="docente.foto | noImagen">
                        <div class="media-body">
                            <h4 class="text-info">{{ docente.nombre | capitalizado }}</h4>
                            <p class="text-dark">{{ docente.correo }}</p>

                            <div class="modal-footer">
                                <button class="btn btn-outline-info" (click)="verPerfilDocente(docente)"><i class="fas fa-search"></i> Ver perfil del docente</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="modal-footer">
                <button class="btn btn-outline-success" (click)="agregarDocente()"><i class="fas fa-plus-circle"></i> Agregar docente</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
