<div class="form-group">
    <label class="font-weight-bold">Seleccione el semestre</label>
    <select class="custom-select" [(ngModel)]="periodo.idperiodo" name="periodo">
  <option [value]="periodo.idperiodo" *ngFor="let periodo of periodos">{{ periodo.periodo }}</option>
</select>
</div>

<div class="modal-footer">
    <button [value]="'plan-mejoramiento.xls'" class="btn btn-outline-success btn-sm" onclick="crearExcel('plan-mejoramiento', value)"><i class="fas fa-file-excel"></i> Descargar como excel</button>
</div>

<table class="table table-hover table-responsive-lg" id="plan-mejoramiento">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Documento</th>
            <th>Tipo de Documento</th>
            <th>Eps</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Semestre</th>
            <th>Espacio Académico</th>
            <th>Antecedentes Disciplinarios</th>
            <th>Antecedentes Fiscales</th>
            <th>Antecedentes Judiciales</th>
            <th>Medidas Correctivas</th>
            <th>Documento Identidad</th>
            <th>Eps</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let estudiante of EstudiantesPractica; let id = index" style="border-style: solid; border-width: 1px;">
            <td style="border-style: solid; border-width: 1px;">{{ id + 1 }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Documento }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.TipoDocumento }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Eps }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Nombre }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Correo }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Telefono }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Direccion }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.Semestre }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.EspacioAcademico }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.DocAntDis }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.DocAntFis }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.DocAntJud }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.DocMedCor }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.DocIdentidad }}</td>
            <td style="border-style: solid; border-width: 1px;">{{ estudiante.DocEps }}</td>
        </tr>
    </tbody>
</table>